<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script.js"></script>
        <link rel="stylesheet" type="text/css" href="index_style.css">
        <title>Calorias dos cereais</title>
    </head>
    <body>
        <div class="container">
            <h1 class="title1">Valores Calóricos dos cereais</h1>
            <div id="img_div">
                <img src="images\2150830588.jpg">
            </div>
            <p id="lab">Esta página mostra os valores calóricos de aluns cereais</p>
            <h2 class="title1">Tabela de Valores</h2>
            <table>
                <tr>
                    <th class="center_table">Nome</th>
                    <th class="center_table">Porção (g)</th>
                    <th class="center_table">Valor calórico (kcal)</th>
                </tr>
                <tr>
                    <td class="center_table">Aveia em flocos</td>
                    <td class="center_table">50</td>
                    <td class="center_table">185</td>
                </tr>
                <tr>
                    <td class="center_table">Banana com aveia</td>
                    <td class="center_table">130</td>
                    <td class="center_table">464</td>
                </tr>
                <tr>
                    <td class="center_table">Crunch cereal</td>
                    <td class="center_table">40</td>
                    <td class="center_table">430</td>
                </tr>
                <tr>
                    <td class="center_table">Farelo de aveia</td>
                    <td class="center_table">50</td>
                    <td class="center_table">358</td>
                </tr>
                <tr>
                    <td class="center_table">Farelo de trigo</td>
                    <td class="center_table">50</td>
                    <td class="center_table">270</td>
                </tr>
                <tr>
                    <td class="center_table">Farelo de amaranto</td>
                    <td class="center_table">34</td>
                    <td class="center_table">92</td>
                </tr>
                <tr>
                    <td class="center_table">Flocos de milho</td>
                    <td class="center_table">23</td>
                    <td class="center_table">83</td>
                </tr>
                <tr>
                    <td class="center_table">Flocos fosos</td>
                    <td class="center_table">30</td>
                    <td class="center_table">176</td>
                </tr>
                <tr>
                    <td class="center_table">Froot Loops</td>
                    <td class="center_table">30</td>
                    <td class="center_table">115</td>
                </tr>
                <tr>
                    <td class="center_table">Granols</td>
                    <td class="center_table">60</td>
                    <td class="center_table">304</td>
                </tr>
                <tr>
                    <td class="center_table">Granola salgada</td>
                    <td class="center_table">10</td>
                    <td class="center_table">37</td>
                </tr>
                <tr>
                    <td class="center_table">Mingau de aveia</td>
                    <td class="center_table">40</td>
                    <td class="center_table">152</td>
                </tr>
                <tr>
                    <td class="center_table">Nescau cereal</td>
                    <td class="center_table">30</td>
                    <td class="center_table">112</td>
                </tr>
                <tr>
                    <td class="center_table">Nesfit</td>
                    <td class="center_table">30</td>
                    <td class="center_table">96</td>
                </tr>
                <tr>
                    <td class="center_table">Snow Flakes</td>
                    <td class="center_table">30</td>
                    <td class="center_table">100</td>
                </tr>
                <tr>
                    <td class="center_table">Todo Bran</td>
                    <td class="center_table">25</td>
                    <td class="center_table">65</td>
                </tr>
            </table>
            <div id="button_div">
                <button id="btn" onclick="gotostart()"><strong>Voltar ao início</strong></button>
            </div>
        </div>
    </body>
</html>
